.file-list {
  max-height: 10rem;
  overflow-y: auto;
}

.file-row{
  margin-top: .5rem;
  vertical-align: center;
  padding: .8rem .5rem;
  border: 1px solid #efefef;

  img{
    width: 50px;
    height: 50px;
    vertical-align: center;
  }

  &.danger{
    color: #ff484c;
    border: 1px solid #ff484c;
  }
  &.success{
    color: #7ad835;
    border: 1px solid #7ad835 ;
  }

  .trash-icon{
    float: right;
    line-height: 1;
    cursor: pointer;
    margin-right:1.5rem;
  }
}
