$primarytbl: #2c349c !default; //primary
$primarytbl-light: #363cc5 !default; //primary
$gray-200: #eaecf4 !default;

.dataTables_wrapper {
  .location-modal-btn {
    color: #fff;
    background-color: $primarytbl;
    border-color: $primarytbl;
    padding: 0.1rem 0.2rem;
  }
  .dataTables_filter {
    margin-bottom: 6px;
    input {
      height: calc(1.8125rem + 2px);
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #d9d9d9;
      color: #6e707e;
      outline: 0;

      &:focus{
        border-color: $primarytbl-light;
      }
    }
  }
  .dt-buttons {
    float: left;
    margin-bottom: 10px;
    button {
      background-color: $primarytbl;
      color: #fff;
      border: none;
      border-radius: 5px;
    }
  }
  .dataTable {
    .dtrg-group {
      &.dtrg-level-0{
        background: #e6e6e6;
        font-weight: bold;
      }
      &.dtrg-level-1{
        background: #f3f3f3;
        font-weight: bold;
        td {
          font-size: 12px;
          &:first-child {
            padding-left: 20px;
          }
        }
      }
    }
    tr th {
      color: white;
      background-color: $primarytbl-light !important;
      border-bottom: 1px solid $gray-200 !important;
      &.sorting_asc{
        background-color: $primarytbl !important;
      }
      &.sorting_desc{
        background-color: $primarytbl !important;
      }
      padding: .65rem 0.75rem !important;
    }
    tr td {
      padding: .65rem 0.75rem !important;
    }

    &.no-footer {
      border-bottom: 1px solid $gray-200 !important;
    }
  }
  .dataTables_info {
    color: #212529;
    font-size: 14px;
    margin-top: 5px;
  }
  .dataTables_paginate {
    font-size: 15px;
    margin-top: 10px;
    a {
      &.paginate_button {
        margin-left: 3px;
        height: 100%;
        font-size: 12px;
        text-align: center;
        background-color: #fff;
        border: 1px solid $gray-200 !important;
        border-radius: 4px;
        outline: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
          color: #333 !important;
          border-color: $primarytbl-light !important;
          background: transparent !important;
        }

        &.current {
          border-color: $primarytbl !important;
          background: transparent !important;
        }
      }
    }
  }
}
