.list {
  border: 1px solid;
  height: 250px;
}

.list-data {
  overflow-y: auto;
  height: 160px;
}

.select-all-row {
  display: flex;
  padding: .5rem;
  vertical-align: middle;
  background-color: #efefef;
}

.clear-icon {
  color: rgba(0, 0, 0, 0.19);
  right: 1.5rem;
  position: absolute;
  top: 4.1rem;
}

.list-row {
  margin-top: .2rem;
  display: flex;
  padding: .5rem;
  vertical-align: middle;

  input {
    align-self: center;
    margin-right: .5rem;
  }

  &:hover {
    cursor: pointer;
    background-color: #efefef;
  }

  &.checked {
    background-color: rgb(238, 239, 255);
  }
}
