/* You can add global styles to this file, and also import other style files */

/* === Plugin styles === */

@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
//@import "~nouislider/distribute/nouislider.min.css";
//@import '~react-bootstrap-typeahead/css/Typeahead.css';
//@import '~react-bootstrap-typeahead/css/Typeahead-bs4.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import "~react-toastify/dist/ReactToastify.min.css";
@import "~datatables.net-dt/css/jquery.dataTables.css";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "variables";
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "fonts";
@import "functions";

/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";


/* === Template mixins === */
//@import "mixins/animation";
//@import "mixins/badges";
//@import "mixins/buttons";
//@import "mixins/misc";
//@import "mixins/color-functions";
//@import "mixins/cards";
@import "mixins/blockqoute";
//@import "mixins/popovers";
//@import "mixins/tooltips";
//@import "mixins/no-ui-slider";


/* === Core Styles === */
@import "background";
@import "typography";
@import "reset";
@import "responsive";
@import "misc";
@import "utilities";
//@import "demo";
@import "spinner";
//@import "dashboard";

/* === Components === */
@import "components/stonedrawer";

@import "datatable/custom";
//@import "components/widgets";
@import "components/forms";
@import "components/checkbox-radio";
//@import "components/icons";
@import "components/tables";
//@import "components/accordions";
@import "components/buttons";
//@import "components/breadcrumbs";
//@import "components/badges";
@import "components/cards";
//@import "components/preview";
//@import "components/tooltips";
//@import "components/user-profile";
//@import "components/popovers";
//@import "components/lists";
//@import "components/bootstrap-progress";
@import "components/bootstrap-alerts";
@import "components/tabs";
@import "components/dropdowns";
//@import "components/pagination";
@import "components/loaders/loaders";
//@import "components/timeline";
//@import "components/portfolio";
//@import "components/pricing-table";
//@import "components/email/mail-list-container";
//@import "components/email/mail-sidebar";
//@import "components/email/message-content";
//@import "components/todo-list";
@import "components/spinner";
//@import "components/tickets";
//@import "components/project-list";
//@import "components/product-tile";
//@import "components/user-listing";
//@import "components/landing";
//@import "components/chats";
//@import "components/kanban";
//@import "components/react-table";

@import "components/landing-screens/auth";

/* === Plugin Overrides === */
//@import "components/plugin-overrides/contex-menu";
//@import "components/plugin-overrides/no-ui-slider";
//@import "components/plugin-overrides/slick-carousel";
//@import "components/plugin-overrides/rating";
//@import "components/plugin-overrides/date-picker";
//@import "components/plugin-overrides/wizard";
@import "components/plugin-overrides/react-bootstrap-table";
@import "components/plugin-overrides/sweet-alert";
//@import "components/plugin-overrides/full-calendar";
//@import "components/plugin-overrides/react-photo-gallery";
//@import "components/plugin-overrides/react-tag-autocomplete";
//@import "components/plugin-overrides/jquery-jvectormap";
//@import "components/plugin-overrides/react-table";

/* === Layout === */
@import "navbar";
@import "sidebar";
@import "footer";
@import "layout";
//@import "settings-panel";

.page-item.active .page-link {
    background-color: $theme-colors-primary;
    border-color: $theme-colors-primary;
}

.page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: table;
    z-index: 10000;

    .loading-content {
        display: table-cell;
        vertical-align: middle;
        padding: 20px;
        text-align: center;
    }
}

.input-error {
    color: #E00700;
    font-size: 14px;
}

.drawer-footer {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    left: 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.video-capture-container {
    position: relative;
    .snap {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 100%;
        top: 0;
        background: #f8f9fa;
    }
}

.react-bootstrap-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.react-datepicker-wrapper {
    width: 100%;
}

.text-light-gray{
    color: #99a0a9;
}

.stone-file-upload-container {
    background: #f7f7f7;
    border-radius: 5px;
    padding: 8px;
    /*display: inline-block;*/
}
.font-weight-semi-bold {
    font-weight: 500;
}
@media (max-width: 576px) {
    .right-header-menu {
        padding-left: 0 !important;
    }
    .header-states {
        max-width: 170px;
    }
}