/* Custom DRAWER */
.stone-drawer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1049;
    top: 0;
    transition: .5s; /* 0.5 second transition effect to slide in the sidenav */

    &.stone-drawer-right {
        right: 0;
    }

    .stone-drawer-mask {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,.65);
        opacity: .3;
    }

    .stone-drawer-content-wrapper {
        position: relative;
        height: 100%;
        box-shadow: -2px 0 8px rgba(0,0,0,.15);

        .stone-drawer-content {
            z-index: 1;
            background: $modal-content-bg;
            height: 100%;
            overflow: auto;

            .stone-drawer-header {
                position: relative;
                padding: 15px 24px;
                color: #060606;
                background: #fff;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            }

            .stone-drawer-body {
                padding: 16px;
                font-size: 14px;
                line-height: 1.5;
                word-wrap: break-word;
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .stone-drawer {
        width: 100% !important;
    }
}
